#image{
    margin-left: 50px;
    width:70%;
}
#margin{
    margin-left: 300px;
}
.font{
    font-size: 20px;
    font-weight: 700;
    margin-left: 15px;
    padding: 15px;
    color:black;
    text-decoration: none;
}
.half-width{
    width: 42%;
    float: left;
    margin-top: 100px;
    margin-left: 100px;
    padding-left: 2px;
}
.half-width img{
    width:80%;
}
.body{
    background-color: rgb(137, 165, 82);
    margin-top: 20px;
    margin-left: 80px;
    padding: 15px 15px;
    border:1px rgb(137, 165, 82);
    border-radius:7px;
    color:white;
    font-size: 15px;
}
.body img{
    width:20%;
}
.font-style{
    font-size:60px;
    color:orange;
    font-weight: 700;
}
.font-design{
    font-size: 50px;
    color: rgb(24, 24, 75);
}
#size{
    margin-top: 0px;
    margin-left: 40px;
}
.size img{
    width:100%;
}
.color{
    width:100%;
    height:1100px;
    background-color:rgb(245, 235, 217);
}

 .footer{

 }

 .margin{
     margin:75px;
 }
 
 .box{
    width: 300px;
    border: 1px solid wheat;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    text-align:justify;
}
.box img{
    width:25%;
    margin:12px;
    float:left;
    text-align: justify;
}
.box-image{
    width: 600px;
    height: 360px;
    border: 1px solid wheat;
    border-radius: 15px;
    padding: 1px;
    margin:20px;
    text-align:justify;
}
.box-image img{
    width:30%;
    float:left;
    text-align: justify;
}
.one{
width:10%;
margin:12px;
float:left;
text-align: justify;
}
.orange{
    color:orange;
}